.contact {
	display: grid;
	height: 100vh;
	grid-template-columns: 33% 33% 4% 30%;
	grid-template-rows: 90% 10%;

	&__box-left {
		grid-area: 1/ 1/ 3/ 4;
        
		&-img {
            height: 100%;
            width: 100%;
			object-fit: cover;
			object-position: left;
			opacity: 0.2;
		}
	}

	&__box-right {
		grid-area: 1/ 5/ 3/ 4;
	}
}
