.helpBuildings {
	padding-top: 7rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	.heading-section {
		padding-bottom: 2.5rem;
	}

	&__places {
		padding-top: 5rem;
		padding-bottom: 7rem;
		width: 100%;
		max-width: 120rem;
		display: flex;
		justify-content: center;

		&-btn {
			padding: 2.3rem 4.2rem;
			font-size: 2.4rem;
			text-transform: none;
			background: none;
			border: 0.075rem solid transparent;
			outline: none;
			transition: border 0.3s;

			&:nth-of-type(2) {
				margin: 0 10rem;
			}
			&:hover {
				border: 0.075rem solid $main-text-color;
			}

			&:focus {
				background-color: $background-color;
				border: 0.075rem solid $main-text-color;
			}
		}
	}

	&__box {
		max-width: 140rem;
		margin: 0 auto;
		text-align: center;
		padding: 0 35rem;

		&-description {
			font-size: 2.2rem;
		}
	}

	&__list {
		width: 100%;
		max-width: 120rem;
		padding-top: 7rem;

		&-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 0.1rem solid #000;
			padding-bottom: 3rem;

			&-left {
				width: 50%;

				&-title {
					font-size: 2.6em;
					font-family: $font-alt;
					font-weight: lighter;
				}

				&-description {
					font-size: 1.8rem;
					font-family: $font-alt;
					font-weight: lighter;
					font-style: italic;
				}
			}

			&-right {
				text-align: right;
				width: 50%;
				font-family: $font-alt;
				font-weight: 300;
				font-size: 1.8rem;
			}
		}
	}

	&__pagination {
		padding-top: 6rem;
		padding-bottom: 8rem;
		display: flex;
		justify-content: center;
		align-items: center;

		.previous,
		.next {
			font-size: 1.8rem;
			cursor: pointer;

			a {
				padding: 1rem 0rem;
				outline: none;
			}
		}

		&-item {
			margin: 0 0.5rem;
			padding: 1rem 0;
			font-size: 1.8rem;
			cursor: pointer;

			&-link {
				padding: 1.3rem 1.5rem;
				&:focus {
					outline: none;
				}
			}
		}
	}
}

.selected {
	border: 0.1rem solid $main-text-color;
}
