.nav {
	position: relative;
	height: 14.8rem;
	width: 100vw;
	
	
	&__container {
		position: fixed;
		padding-right: 14rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-shadow: 0rem 0.1rem 1rem rgba(66, 68, 90, 1);
		background-color: $main-color;
		z-index: 100;
	}

	&__topMenu {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		font-size: 1.4rem;
		padding: 2.6rem 0rem 1.7rem;

		&-item {
			padding: 1rem;
			cursor: pointer;
			transition: transform 0.3s;

			&-registration {
				border: 0.075rem solid $registration-border-color;
			}

			&:hover {
				transform: scale(1.1);
			}
		}

		&-link {
			color: $secondary-text-color;
			text-decoration: none;
			outline: none;
		}
	}

	&__list {
		display: flex;
		justify-content: flex-end;
		padding-bottom: 2rem;

		&-item {
			padding: 0.9rem 2rem;
			font-size: 1.8rem;
			transition: transform 0.3s;
			outline: none;
			cursor: pointer;

			&:last-of-type {
				padding-right: 0;
			}

			&:first-of-type {
				border: 0.075rem solid $main-text-color;
			}

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
