$main-color: #fff;
$background-color: #f0f1f1;
$main-text-color: #3c3c3c;
$secondary-text-color: #737373;
$registration-border-color: #fad648;
$threeColumns-text-color: #5e5322;
$underline-color: #707070;
