html {
	font-size: 62.5%;
}

body {
	font-family: $font-base;
	background-color: $main-color;
	height: 200vh;
}

.wrapper {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.right-margin-section {
	margin-right: 14rem;
}
