html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: $font-base;
	background-color: $main-color;
	height: 200vh;
	color: $main-text-color;
}

.wrapper {
	width: 100%;
	max-width: 160rem;
	margin: 0 auto;
}

.right-margin-section {
	margin-right: 14rem;
	width: 100%;
	max-width: 176rem;
}

.heading-section {
	font-size: 3.8rem;
	position: relative;
	line-height: 5.5rem;
	padding: 1.3rem 9.3rem;
}

.img-decoration {
	height: 4rem;
	width: 30rem;
	background-image: url('../../images/Decoration.svg');
	background-size: cover;
}

.btn-cta {
	position: relative;
	width: auto;
	height: 12rem;
	width: 100%;
	max-width: 31rem;
	padding: 1.3rem 7rem;
	font-weight: 300;
	border: 0.075rem solid $main-text-color;
	font-size: 3.6rem;
	text-transform: uppercase;
	overflow: hidden;
	background: none;
	outline: none;
	transition: 0.3s;
	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		top: -40%;
		left: -180%;
		height: 190%;
		width: 20rem;
		transition: 0.5s;
		transform: rotate(20deg);
		background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
	}
	&:hover::before {
		left: 110%;
	}

	a {
		text-decoration: none;
		color: $main-text-color;
		font-family: $font-base;
		font-weight: 300;
		outline: none;
	}
}
